.ae-masonry.ae-masonry-md-2.ae-masonry-xl-4
  - @actions.each do |action|
    %a.rk-item.ae-masonry__item{:href => action_path(action) }
      = image_tag action.image_url
      .item-meta
        %h2= action.name
        %p= action.method