%footer.ae-container-fluid.rk-footer
  .ae-grid.ae-grid--collapse
    .ae-grid__item.item-lg-4.au-xs-ta-center.au-lg-ta-left
      %ul.rk-menu.rk-footer-menu
        %li.rk-menu__item
          %a.rk-menu__link{:href => "about.html"} About
        %li.rk-menu__item
          %a.rk-menu__link{:href => "documentation.html"} Docs
        %li.rk-menu__item
          %a.rk-menu__link{:href => "contact.html"} Contact
      %p.rk-footer__text.rk-footer__copy
        %span.ae-u-bold ©
        = succeed "All" do
          %span.ae-u-bolder 2016 YDY COALITION
    .ae-grid__item.item-lg-4.au-xs-ta-center
      %a.rk-social-btn{:href => "#0"}
        %svg
          %use{"xlink:href" => "assets/img/symbols.svg#icon-facebook"}
      %a.rk-social-btn{:href => "#0"}
        %svg
          %use{"xlink:href" => "assets/img/symbols.svg#icon-twitter"}
      %a.rk-social-btn{:href => "#0"}
        %svg
          %use{"xlink:href" => "assets/img/symbols.svg#icon-pinterest"}
      %a.rk-social-btn{:href => "#0"}
        %svg
          %use{"xlink:href" => "assets/img/symbols.svg#icon-tumblr"}
    .ae-grid__item.item-lg-4.au-xs-ta-center.au-lg-ta-right
      %p.rk-footer__text.rk-footer__contact
        %span.ae-u-bold Email:
        %span.ae-u-bolder
          %a.rk-dark-color{:href => "#0"} contact@urkuportfolio.com
      %p.rk-footer__text.rk-footer__by
        Theme by
        %a.ae-u-bolder{:href => "http://pixeden.com"} Pixeden.