<!DOCTYPE html>
<html>
<head>
  <title>Coalition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/svg+xml" href="assets/img/urku-ico.svg">
  <link rel="stylesheet" href="vendor/assets/stylesheets/aurora-pack.min.css">
  <link rel="stylesheet" href="vendor/assets/stylesheets/aurora-theme-base.min.css">
  <link rel="stylesheet" href="vendor/assets/stylesheets/urku.css">
</head>
<body>

<%= yield %>

</body>
</html>
